.divMain{
    display: flex;
    margin-top: 8px;
    border-radius: 5px;
    padding: 20px;
    background: #3130304c;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.divSec{
    margin: 20px 0 3px 0;
}

.divActi{
    display: flex;
    margin: 15px 0px 0px 0px;
    align-items: center;
    flex-wrap: wrap;
}
.searchMain{
    display: flex;
    margin: 15px 0 0 0;
}
.searchButt{
    margin: 0 15px 0 0 ;
}
.option{
    margin-right: 8px;
}
.p1{
    font-size: 14px;
    margin: 0 5px 0 25px;
}
.p2{
    font-size: 14px;
    margin: 0px 5px 0 5px;
}
.p3{
    font-size: 14px;
    margin: 0px 5px;
}
.buttActi{
    font-size: 11px;
    margin: 0px 5px 0 5px;
}

